<div class="well">

  {{log model.admin}}
  <img src={{model.entry.image}} alt="" class="img-responsive"/>
  <h1>{{model.entry.title}}</h1>
  <h3>{{moment-from-now  model.entry.date}}</h3>
  <p>
    {{model.entry.text}}
  </p>
  {{#if admin}}
    {{update-entry entry=model.entry update="update"}}
  {{/if}}
</div>
{{new-comment entry=model.entry saveComment="saveComment" }}
{{#each model.entry.comments as |comment|}}
  {{comment-tile comment=comment destroyComment="destroyComment"}}
{{/each}}
